@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #101114;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 960px;
    display: flex;
    margin: 50px auto;
}
#menu__toggle {
    opacity: 0;
    display: none;
}
.menu {
    list-style: none;
    .menu__item {
        width: 320px;
        height: 76px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 29px;
        background-color: #1f2229;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        word-wrap: wrap;
        transition: .3s;
        
    }
}

// ===================== //

.content {
    width: 70%;

    .main {
        background-color: #f7f8f8;
        padding: 48px 48px 48px 28px;

        .pay-info {
            margin-bottom: 36px;
            color: #8494ab;
            &__block {
                display: flex;
            }
            &__text {
                width: 160px;
            }
            &__input {
                border: 1px solid #e4e9ee;
                padding-left: 5px;
                height: 20px;
            }
        }

        .pay-form {
            .pay-form__title {
                font-family: 'Open Sans', sans-serif;
            }
            .form {
                margin-top: 28px;
                .card {
                    width: 350px;
                    height: 234px;
                    border: 1px solid #e4e9ee;
                    border-radius: 7px;
                }
                .card-front {
                    position: relative;
                    background-color: #fff;
                    z-index: 10;
                    padding: 24px 0 13px 15px;
                    .label {
                        color: #8494ab;
                    }
                    .card-number { 
                        display: flex;
                        margin: 6px 0 18px 0;
                        &__input {
                            width: 63px;
                            height: 40px;
                            border: 1px solid #e4e9ee;
                            text-align: center;
                            &:not(last-child) {
                                margin-right: 9px;
                            } 
                        } 
                    }
                    .card-data {
                        display: flex;
                        margin: 6px 0 12px 0;
                        .data-select {
                            width: 84px;
                            height: 40px;
                            border: 1px solid #e4e9ee;
                            padding-left: 10px;
                            &:first-child {
                                width: 70px;
                            }
                            &:not(last-child) {
                                margin-right: 9px;
                            }
                        } 
                    }
                    .card-holder {
                        width: 320px;
                        height: 40px;
                        border: 1px solid #e4e9ee;
                        padding-left: 11px;
                        line-height: normal;
                        text-transform: uppercase;
                        &::placeholder {
                            line-height: normal;
                            color: #bec6cf;
                            font-size: 16px;
                            text-transform: none
                        }
                    }
                }
                .card-back{
                    position: relative;
                    background-color: #fff;
                    z-index: 5;
                    margin: -214px 0 0 195px;
                    &:before{
                        content: '';
                        position: absolute;
                        height: 42px;
                        background-color: #e4e9ee;
                        width: 100%;
                        top: 25px;
                    }
                    .card-label{
                        color: #8494ab;
                    }
                    .card-cvv{
                        position: relative;
                        margin: 86px 0 0 200px;
                        &__input{
                            width: 136px;
                            height: 42px;
                            margin-top: 5px;
                            border: 1px solid #e4e9ee;
                            text-align: center;
                            background: url('../подсказка.png') no-repeat 100px 6px; 
                            &:hover ~ .hint{
                                opacity: 1;
                            }
                        }
                        .hint {
                            margin-top: 10px;
                            padding: 10px;
                            width: 120px;
                            height: 60px;
                            text-align: center;
                            border: 1px solid #e4e9ee;
                            color: #959595;
                            opacity: 0;
                            transition: .5s
                        }
                    }
                }
                .invalid {
                    border-color: red !important;
                }   
                .button-submit {
                    width: 134px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: #005abe;
                    color: #fff;
                    font-family: 'Open Sans';
                    font-weight: bold;
                    border: 0;
                    margin: 20px 0 0 15px;       
                }
            }
        }
    }
    .footer {
        padding: 32px;
        background-color: #373c43;
        color: #87898a;
        font-size: 12px;
    }
    
}

.router-link-active {
    background-color: #2a2d37 !important;
    color: #87898a !important;
    &::after {
        content: " (активная)";
        white-space: pre;
    }
}

// ============== //

.success {
    &__title {
        font-family: 'Open Sans';
        margin-bottom: 30px;
    }
    &__info {
        list-style-type: none;
        .success__item {
            font-family: 'Open Sans';
            margin: 10px 0;
        }
    }
}

// ============= //

.history {
    &__title {
      font-family: 'Open Sans';
      margin-bottom: 30px;
    }
    &__item {
        list-style: none;
        padding: 10px;
        margin-bottom: 15px;
        border: 2px solid #e4e9ee;
        border-radius: 10px;
        font-family: 'Open Sans'
    }

}

// == Media =============== //
@media (max-width: 990px) {
    .container {
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        .menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            .menu__item {
                padding-left: 0;
                justify-content: center;
                text-align: center;
            }
        }
        .content {
            width: 100%;
        }
    }
    .router-link-active {
        &:after {
        content: ''
        }
    }
}

@media (max-width: 480px) {
    .container {
        .content {
            width: 100%;
            
            }
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px 0 0 0;
            .pay-form {
                .form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    .card {
                        position: relative;
                        
                    }
                    .card-back {
                        margin: 0;
                    }
                }
            }
        }
    }
    .menu__btn {
        display: flex;
        align-items: center;  
        position: fixed;
        top: 10px;
        left: 10px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 55;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -120%;
        z-index: 50;
        flex-direction: column !important;
        .menu-item {
            width: auto;
        }
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu {
        visibility: visible;
        left: 0;
    }
}
@media (max-width: 360px) {
    .container {
        .content {
            .main {
                padding: 40px 0 0 0;
                .pay-info {
                    &__text {
                        width: 140px;    
                    }
                    &__input {
                        width: 140px;
                    }
                }
                .pay-form {
                    margin-bottom: 50px;
                    &__title {
                    font-size: 20px;
                    margin: 0;
                    text-align: center;
                    }
                    .form {
                        .card {
                            width: 300px;
                            margin: 10px;
                        }
                        .card-front {
                            padding: 10px 0 0 14px;
                            .card-number {
                                &__input {
                                    width: 58px;
                                }
                            }
                            .card-holder {
                                width: 270px;
                            }
                        }
                        .card-back {
                            .card-cvv {
                                margin: 86px 0 0 150px
                            }
                        }
                    }
                }
            }
        }
    }
    .success {
        margin-bottom: 20px;
        &__title {
            text-align: center;
        }
    }
    .history {
        &__title {
            text-align: center;
        }
        &__item {
            margin: 10px;
        }
    }
}
